<div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><%= link_to "Create Post", new_post_path, :class => 'btn btn-primary btn-lg' %></p>
      </div>
    </div>
<% @posts.each do |post| %>
    <div class="well">
    <h3><%= post.title %></h3>
    <p><%= post.text %></p>
    <%= link_to "Read More", post_path(post), :class => 'btn btn-default' %>
    <%= link_to 'Destroy', post_path(post),
                    method: :delete, 
                    data: { confirm: 'Are you sure?'},
                    :class => 'btn btn-danger' %>

    </div>
<% end %>

